[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apscheduler = "*"
pyzbar = "*"
imutils = "*"
paho-mqtt = "*"
numpy = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.9"
